body {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
 width: 80%;
 min-height: 100vh;
 background-color: white;
 font-family: 'Raleway', "sans-serif" ;

 display: grid;
 grid-template-areas: "header aside"
                      "main .";
 grid-template-columns: auto;
 grid-template-rows: 100px auto;
 
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

img {
 width: 100%;
 height: auto;
}


/* Header */
.header {
 grid-area: header;
 
 display: flex;
 justify-content: center;
 align-items: center;

 height: 70px;
 width: 100%;
 padding: 1rem;
}
.header img{
 height: 100%;
 width: auto;
 margin-right: 10px;
 object-fit: contain;
}


/* MAIN */
.main{
 margin-top: 10px;
 text-align: center;
 grid-area: main;

}
h1{
 text-align: center;
 font-weight: 600;
}

.rendered{
 margin-top: 10px;
 display: grid;
}
.cubo{
 display: flex;
 justify-content: center;
 align-items: center;
 
 width: 60px;
 height: 60px;
 border-radius: 5px;
 margin: 5px;

 background-color: #cbe3f7;
}

.poke, .wordle{
 display: flex;
 justify-content: center;
}
.answer{
 caret-color: #2a79bd;
}
.answer:focus{
 outline: 0;
}

/* ASIDE */
.aside{
 grid-area: aside;
 height: auto;
 text-align: center;
}


/* Tablet */
@media screen and (max-width:768px) {
 body {
  grid-template-areas: "header"
   "main"
   "aside";
  grid-template-columns: auto;
  grid-template-rows: 70px auto auto;

 }

 .cubo {
  width: 50px;
  height: 50px;
 }

 .aside{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
  height: 70px;
  margin:  0 auto;
 }
}


/* Cellphone */
@media screen and (max-width:380px) {

 body {
  width: 100%;
 }

 body {
  grid-template-areas: "header"
   "main"
   "aside";
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto;

 }

 .cubo {
  width: 30px;
  height: 30px;
 }
}
