body {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
 overflow-x: hidden;
 width: 80%;
 max-height: 100vh;
 background-color: white;
 font-family: 'Raleway', "sans-serif" ;

 display: grid;
 grid-template-areas: "header"
                      "aside"
                      "main"
                      "keyboard";
 grid-template-columns: auto;
 grid-template-rows: 100px 16px auto auto;
 
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

img {
 width: 100%;
 height: auto;
}


/* Header */
.header {
 grid-area: header;
 
 display: flex;
 justify-content: center;
 align-items: center;

 height: 70px;
 width: 100%;
 padding: 1rem;
}
.header img{
 height: 100%;
 width: auto;
 margin-right: 10px;
 object-fit: contain;
}


/* MAIN */
.main{
 margin-top: 10px;
 text-align: center;
 grid-area: main;

}
h1{
 text-align: center;
 font-weight: 600;
}

.rendered{
 margin-top: 10px;
}
.cubo{
 display: flex;
 justify-content: center;
 align-items: center;
 
 width: 50px;
 height: 50px;
 border-radius: 5px;
 margin: 5px;

 background-color: #cbe3f7;
}

.poke, .wordle{
 display: flex;
 justify-content: center;
}
.answer{
 caret-color: #2a79bd;
}
.answer:focus{
 outline: 0;
}

/* ASIDE */
.aside{
 grid-area: aside;
 display: none;
 justify-content: space-evenly;
 align-items: center;
 width: 50%;
 height: auto;
 margin: 0 auto;
 text-align: center;
}

/* KEYBOARD */
.keyboard{
 grid-area: keyboard;
 display: flex;
 flex-direction: column;
 
 margin-top: 20px;
}
.keyboard div{
 display: flex;
 justify-content: center;
}
.word{
 display: flex;
 justify-content: center;
 align-items: center;

 height: 40px;
 width: auto;
 padding: 1em;
 margin: 0.1rem;

 border-radius: 5px;
 background-color: #d5e2ed;
 font-weight: 600;
 font-size: 14px;

 user-select: none;
}

/* VENTANAS MODAL*/
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  transition: opacity 1s;
}
.modal{
  position: relative;

  transform: translateY(0);
  transition: transform 1s;
  
  width: 360px;
  height: 290px;
    
  border-radius: 1rem;
  border: 1px solid #808080;
  
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.transparent{
  opacity: 0;
  visibility: hidden;
}

.active{
  transform: translateY(-200%);
}

.modal-cancel{
  position: absolute;
  top: 5px;
  right: 5px;

  width: 25px;
  height: 25px;
  margin: 0;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #fff;
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

.modal-body{
  text-align:center;

  padding: 1rem;
  background-color: #fefefe;
}

h3, .modal-paragraph{
  margin: 0;
}

h2, .modal-paragraph, .modal-footer{
  text-align:center;
}

.modal-image{
 width: 96px;
}








.none {
 display: none;
}
@media screen and (max-width:780px) {
 .cubo {
  width: 45px;
  height: 45px;
  margin: 5px;
 }
 .word {
  height: 30px;
  padding: 10px;
 }
}
/* Cellphone */
@media screen and (max-width:380px) {

 body {
  width: 100%;
 }
 .word{
  height: 30px;
  padding: 6px;
 }
 .cubo {
  width: 27px;
  height: 27px;
  margin: 4px;
 }
 .aside{
  width: 80%;
 }
 .modal{
   width: 300px;
 }
}
