body {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
 overflow-x: hidden;
 width: 80%;
 max-height: 100vh;
 background-color: white;
 font-family: 'Raleway', "sans-serif" ;

 display: grid;
 grid-template-areas: "header"
                      "aside"
                      "main"
                      "keyboard";
 grid-template-columns: auto;
 grid-template-rows: 100px 16px auto auto;
 
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

img {
 width: 100%;
 height: auto;
}


/* Header */
.header {
 grid-area: header;
 
 display: flex;
 justify-content: center;
 align-items: center;

 height: 70px;
 width: 100%;
 padding: 1rem;
}
.header img{
 height: 100%;
 width: auto;
 margin-right: 10px;
 object-fit: contain;
}


/* MAIN */
.main{
 margin-top: 10px;
 text-align: center;
 grid-area: main;

}
h1{
 text-align: center;
 font-weight: 600;
}

.rendered{
 margin-top: 10px;
}
.cubo{
 display: flex;
 justify-content: center;
 align-items: center;
 
 width: 50px;
 height: 50px;
 border-radius: 5px;
 margin: 5px;

 background-color: #cbe3f7;
}

.poke, .wordle{
 display: flex;
 justify-content: center;
}
.answer{
 caret-color: #2a79bd;
}
.answer:focus{
 outline: 0;
}

/* ASIDE */
.aside{
 grid-area: aside;
 display: none;
 justify-content: space-evenly;
 align-items: center;
 width: 50%;
 height: auto;
 margin: 0 auto;
 text-align: center;
}

/* KEYBOARD */
.keyboard{
 grid-area: keyboard;
 display: flex;
 flex-direction: column;
 
 margin-top: 20px;
 display: none;
}
.keyboard div{
 display: flex;
 justify-content: center;
}
.word{
 display: flex;
 justify-content: center;
 align-items: center;

 height: 40px;
 width: auto;
 padding: 1em;
 margin: 0.1rem;

 border-radius: 5px;
 background-color: #d5e2ed;
 font-weight: 600;
 font-size: 14px;
}


/* Cellphone */
@media screen and (max-width:380px) {

 body {
  width: 100%;
 }
 .word{
  height: 25px;
  padding: 7px;
 }
 .cubo {
  width: 27px;
  height: 27px;
  margin: 4px;
 }
 .aside{
  width: 80%;
 }
}
